<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <h1>Hi, my name is Alexandros Karanikola, I am 30 years old, born in Australia, raised in Europe and now living in Australia for the last 12 years. The reason I chose a career in technology is because I have a passion for technology and I enjoy learning new things.</h1>
    <ul>
        history
    </ul>


    <h2>Education</h2>
    <ul>
        <li>Graduate Certificate in Computing (Cloud Computing), Charles Sturt University, Expected 2024</li>
        <li>Master's in Cloud Computing and Virtualization, Charles Sturt University, Expected 2026</li>
    </ul>

    <h2>Professional Skills</h2>
    <ul>
        <li>Cloud Computing across AWS, Google Cloud, and Microsoft Azure</li>
        <li>Programming in React.js, Node.js, JavaScript/TypeScript, Python</li>
    </ul>

    <h2>Certifications</h2>
    <ul>
        <li>CompTIA Cloud Essentials+</li>
        <li>Kubernetes: Explorer, Apprentice, Architect</li>
    </ul>
</body>
<nav>
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
    </ul>
</nav>
</html>
