<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>About</title>
</head>
<body>
    <div class="container">
    <h1 class="my-4">About This Project</h1>
    <p>This project is built using a variety of modern web development tools and technologies:</p>
    <ul class="list-group">
        <li class="list-group-item">Flask:</strong> A micro web framework written in Python, used for building the web server and handling HTTP requests.</li>
        <li class="list-group-item">Python:</strong> A high-level, interpreted programming language known for its ease of use, serving as the backbone language for the server-side logic.</li>
        <li class="list-group-item">HTML/CSS/JavaScript:</strong> Used for creating and styling the frontend of the website, providing the structure, design, and interactive elements.</li>
        <li class="list-group-item">Docker:</strong> A platform used for containerizing the application, ensuring that it runs consistently across different computing environments.</li>
        <li class="list-group-item">AWS ECS and ECR:</strong> Amazon Web Services - Elastic Container Service for deploying the containerized application and Elastic Container Registry for storing Docker images.</li>
        <li class="list-group-item">Fargate:</strong> A serverless compute engine for containers, used with ECS to manage the underlying server infrastructure.</li>
        <li class="list-group-item">Git/GitHub:</strong> Used for version control and managing updates to the project, facilitating collaboration and tracking changes.</li>
        <li class="list-group-item">AWS CLI:</strong> Command Line Interface used to manage AWS services, enabling scripting and automation of the cloud resources.</li>
    </ul>

    <p>This page is designed to showcase the technologies involved and how they integrate to create a fully functional dynamic website.</p>
</body>
<nav>
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
    </ul>
</nav>

</html>
