<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professional Experience</title>
</head>
<body>
    <h2>Current Role</h2>
    <p>DevOps/Fullstack Engineer Intern at AusBiz Consulting</p>
    <ul>
        <li>Orchestrating CI/CD pipelines and contributing to backend and frontend systems.</li>
        <li>Enhancing cloud infrastructure's reliability and scalability.</li>
        <li>Collaborating with other team members to ensure code quality and attending Daily Stand-Ups.</li>
        <li>Coding & Programming</li>
        <li>Using Jira and Confluence as tools for Agile Environments</li>
    </ul>
</body>
<nav>
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
    </ul>
</nav>
</html>
